body {
    font-family: Arial;
    align-content: center;
}

input {
    font-family: Arial;
    font-size: 14px;
}

label {
    font-family: Arial;
    font-size: 14px;
    color: #4b4444;
}

.formBox{
    display: inline;
}

.tblSaveForm {
    border-top: 3px SkyBlue solid;
    background-color: #e9e5e5;
    text-align: center;
    border-radius: 15px;
    margin-top: 8%;
    border-bottom: black;
}


.header {
    background-color: SkyBlue;
}

.tablerow {
    background-color: #A7D6F1;
    color: white;
}

.buttom {
    background-color: SkyBlue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: white;
    border-radius: 8px;
    color: rgb(51, 44, 44);
    margin: 20px;
}

.message {
    color: #09b812;
    text-align: center;
    width: 100%;
}

.txtField {
    padding: 5px;
    border: #fedc4d 1px solid;
    border-radius: 4px;
}

.evenRow {
    background-color: #E2EDF9;
    font-size: 12px;
    color: #101010;
}

.evenRow:hover {
    background-color: #ffef46;
}

.oddRow {
    background-color: #B3E8FF;
    font-size: 12px;
    color: #101010;
}

.oddRow:hover {
    background-color: #ffef46;
}

.tblListForm {
    border-top: 2px #999999 solid;
}

.listheader {
    background-color: #fedc4d;
    font-size: 12px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #5e8fc7;
    font-size: 11px;
}